/*
 * Container / viewport styles
 */

.top-fade {
  background-image: linear-gradient(to top, transparent 0px, rgba(255, 255, 255, 1) 100%);
  position: absolute;
  height: 15px;
  width: 100%;
  z-index: 10;
  .unselectable();
}

.bottom-fade {
  background-image: linear-gradient(to bottom, transparent 0px, rgba(255, 255, 255, 1) 100%);
  position: absolute;
  height: 15px;
  width: 100%;
  bottom: 0;
  z-index: 10;
  .unselectable();
}

.i-viewport(){
  margin: 0px 0 0px 0;
  padding: 0px 5px 0px 5px;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.i-container(){
  position: relative;
  //z-index: -100;
}

#instruction-viewport {
  .i-viewport();
  margin: 1px 0 1px 0;
  .border-inset();
  //.border-radius(3px);
  border-left: 10px solid @dark-main;
  .shadow-mixin(5px, @black-20);
}

#pre-instruction-viewport {
  .i-viewport();
  padding-left: 20px;
  .transformX(-15px);
}

#post-instruction-viewport {
  .i-viewport();
  padding-left: 20px;
  .transformX(-15px);
}

#instruction-container {
  .i-container();
}

#pre-instruction-container {
  .i-container();
}

#post-instruction-container {
  .i-container();
}


#left {
  height: 100%;
}

#mid {}

#right {
  height: 100%;
}

#recipe-details {
}

#instruction-list {
}

#ingredients-container {
}

#semantic-container {
  height: 100%;
}

.semantic-column-title {
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 15px;
  .shadow-bottom();
}

.semantic-column-title-instructions {
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 15px;
  .shadow-bottom();
}

#main-container {
  position: relative;
}

.semantic-view-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Transition variables / functions
 */

@duration: 200ms;

.transformX(@x: 0px, @duration: 100ms){
  transform: translateX(@x); /* Firefox */
  -ms-transform: translateX(@x); /* IE 9 */
  -webkit-transform: translateX(@x); /* Chrome, Safari, Opera */
}

/*
//not sure how to get this to work.
.transition-macro(@styles-times, @ease-func: ease-in-out) {
  -webkit-transition: @styles-times @ease-func;
  -moz-transition: @styles-times @ease-func;
  -o-transition: @styles-times @ease-func;
  transition: @styles-times @ease-func;
}
*/

.single-transition(@style, @time, @ease-func: ease-in-out) {
  -webkit-transition: @style @time @ease-func;
  -moz-transition: @style @time @ease-func;
  -o-transition: @style @time @ease-func;
  transition: @style @time @ease-func;
}

.select-indicator-transition(@time, @ease-func: ease-in-out) {
  -webkit-transition: color @time, transform @time, -ms-transform @time, -webkit-transform @time @ease-func;
  -moz-transition: color @time, transform @time, -ms-transform @time, -webkit-transform @time @ease-func;
  -o-transition: color @time, transform @time, -ms-transform @time, -webkit-transform @time @ease-func;
  transition: color @time, transform @time, -ms-transform @time, -webkit-transform @time @ease-func;
}

.color-bold-transition(@time, @ease-func: ease-in-out) {
  -webkit-transition: color @time, font-weight @time @ease-func;
  -moz-transition: color @time, font-weight @time @ease-func;
  -o-transition: color @time, font-weight @time @ease-func;
  transition: color @time, font-weight @duration @ease-func;
}

/*
 * Media query functions
 */

.sm-font(){
  font-size: 12px;
}

.md-font(){
  font-size: 12px;
}

.lg-font(){
  font-size: 16px;
}

/*
 * Ingredient
 */

.semantic-ingredient-item-column {
  padding: 0;
}

.semantic-ingredient {
  margin-bottom: 2px;
  .md-font();
  .text-ellipsis();

  @media (min-width: @screen-md-min) {
    margin-bottom: 4px;
    .lg-font();
    .text-ellipsis();
  }
}

.mute-ingredient {
  color: @gray;
  font-weight: 400;
  .single-transition(color, @duration, ease-out);
  //.color-bold-transition(@duration, ease-in);
}

.highlight-ingredient {
  color: @black;
  font-weight: 400;
  //.color-bold-transition(@duration, ease-out);
  .single-transition(color, @duration, ease-out);
}

/*
 * Instruction Summary
 */

#summary-instruction-link {

  .unselectable();
  cursor: pointer;

  color: @gray;
  font-weight: 400;
  .single-transition(color, @duration, ease-out);

  & #summary-select-indicator {
    margin-right: -12px;
    position: relative;
    color: @color-background;
    .transformX(-38px);
    .select-indicator-transition(300ms, ease-in);
  }

  &:hover {
    color: @black;
    //font-weight: 400;
    .single-transition(color, @duration, ease-out);
    //.color-bold-transition(@duration, ease-out);

    & #summary-select-indicator {
      color: @dark-main;
      .transformX(-28px);
      .select-indicator-transition(300ms, ease-out);
    }
  }

}

.semantic-summary-instruction {

  .md-font();
  margin: 0px 0 0px 0;
  padding: 5px 0 5px 6px;

  & .semantic-summary-column {
    margin: 0px 15px 0px 6px;
    padding: 0px 15px 0px 10px;
  }

  @media (min-width: @screen-md-min) {
    .lg-font();
    margin: 0px 0 0px 0;
    padding: 10px 0 10px 0px;

    & .semantic-summary-column {
      margin: 0px 15px 0px 10px;
      padding: 0px 15px 0px 10px;
    }

  }

}

/*
 * Instruction Detail
 */

.semantic-detail-instruction {

  .md-font();
  margin: 0px 0 0px -4px;
  padding: 10px 0 10px 1px;
  position: relative;
  z-index: 9;

  & .list-number {
    margin-left: 0;
    width: auto;
    .bold();
  }

  & .semantic-detail-summary {
    font-weight: 700;
    margin-left: -2px;
    margin-bottom: 5px;
  }

  & .semantic-text {
    margin-left: -2px;
    margin-bottom: 0px;
  }

  & .semantic-column-body {
    margin: 0px 15px 0px 5px;
    padding: 0px 15px 0px 10px;
  }

  @media (min-width: @screen-md-min) {

      .lg-font();
      padding: 10px 0 10px 0;
      margin: 0px 0 0px 0;
      position: relative;
      z-index: 9;

      & .list-number {
        margin-left: 0;
        width: auto;
        .bold();
      }

      & .semantic-detail-summary {
        margin-left: 0px;
        margin-bottom: 0px;
      }

      & .semantic-text {
        margin-left: 0px;
        margin-bottom: 0px;
      }

      & .semantic-column-body {
        margin: 0px 15px 0px 10px;
        padding: 0px 15px 0px 10px;
      }

      & .dl-horizontal {
        margin-bottom: 0px;
      }

  }

}