/*
.wrapper {
  min-width: 500px;
  max-width: 700px;
  margin: 0 auto;
}
#content {
  margin-right: 260px; // = sidebar width + some white space
}
*/

/*
#overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
#overlay .wrapper {
  height: 100%;
}
*/

.top-fade {
  background-image: linear-gradient(to top, transparent 0px, rgba(255, 255, 255, 1) 100%);
  position: absolute;
  height: 15px;
  width: 100%;
  z-index: 10;
  .unselectable();
}

.bottom-fade {
  background-image: linear-gradient(to bottom, transparent 0px, rgba(255, 255, 255, 1) 100%);
  position: absolute;
  height: 15px;
  width: 100%;
  bottom: 0;
  z-index: 10;
  .unselectable();
}

.i-viewport(){
  margin: 0px 0 0px 0;
  padding: 0px 5px 0px 5px;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.i-container(){
  position: relative;
  //z-index: -100;
}

#instruction-viewport {
  .i-viewport();
  margin: 1px 0 1px 0;
  .border-inset();
  //.border-radius(3px);
  border-left: 10px solid @dark-main;
  .shadow-mixin(5px, @black-20);
}

#pre-instruction-viewport {
  .i-viewport();
}

#post-instruction-viewport {
  .i-viewport();
}

#instruction-container {
  .i-container();
}

#pre-instruction-container {
  .i-container();
}

#post-instruction-container {
  .i-container();
}

#recipe-details {
  //position: absolute;
  //top: 0px;
}

#instruction-list {
  //position: absolute;
  //top: 0px;
}

#semantic-container {
  height: 100%;
}

#left {
  height: 100%;
}

#right {
  height: 100%;
}

#ingredients-container {
  //position: absolute;
  //top: 0;
}

.semantic-column-title {
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 15px;
  .shadow-bottom();
}

.semantic-column-title-instructions {
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 15px;
  .shadow-bottom();
}

#main-container {
  position: absolute;
}

.semantic-view-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.md-font(){
  font-size: 12px;
}

.lg-font(){
  font-size: 16px;
}

.semantic-ingredient {
  .md-font();
  .text-ellipsis();
  margin-bottom: 2px;

  @media (min-width: @screen-md-min) {
    .lg-font();
    .text-ellipsis();
    margin-bottom: 4px;
  }
}

.semantic-summary {
  .text-ellipsis();
  margin: 0;
}

#summary-instruction-link {

  .unselectable();
  .transition(color, 50ms);

  color: @black;
  cursor: pointer;
  text-decoration: underline;

  & .glyphicon {
    z-index: -1;
    //margin-left: 0px;
    margin-right: -12px;
    //.transition(color, 50ms);
    color: @color-background;
  }

  & #step-num {
    z-index: 1;
    //.transition(color, 50ms);
    color: @black;
  }

  &:hover {

    & .glyphicon {
      z-index: 1;
      //margin-left: -20px;
      //.transition(color, 50ms);
      color: @medium-green;
    }

    & #step-num {
      z-index: -1;
      //.transition(color, 50ms);
      color: @color-background;
    }

    color: @medium-green;
    text-decoration: underline;
  }

  &.inactive {
    visibility: hidden;
  }
}

.semantic-summary-instruction {
  //padding-top: 15px;
  //padding-bottom: 15px;
  .md-font();
  margin: 0px 0 0px 0;
  padding: 10px 0 10px 5px;

  & .semantic-summary-column {
    margin: 0px 15px 0px 10px;
    padding: 0px 15px 0px 10px;
  }

  @media (min-width: @screen-md-min) {
    .lg-font();
    margin: 0px 0 0px 0;
    padding: 10px 0 10px 0px;

    & .semantic-summary-column {
      margin: 0px 15px 0px 10px;
      padding: 0px 15px 0px 10px;
    }

  }

}

.semantic-detail-instruction {

  .md-font();
  padding: 10px 0 10px 0;
  margin: 0px 0 0px 0;
  position: relative;
  z-index: 9;

  & .list-number {
    margin-left: 0;
    width: auto;
    .bold();
  }

  & .semantic-text {
    margin-left: -5px;
    margin-bottom: 0px;
  }

  & .semantic-column-body {
    margin: 0px 15px 0px 5px;
    padding: 0px 15px 0px 10px;
  }

  & .dl-horizontal {
    margin-bottom: 0px;
  }

  @media (min-width: @screen-md-min) {

    .lg-font();
    padding: 10px 0 10px 0;
    margin: 0px 0 0px 0;
    position: relative;
    z-index: 9;

    & .list-number {
      margin-left: 0;
      width: auto;
      .bold();
    }

    & .semantic-text {
      margin-left: 0px;
      margin-bottom: 0px;
    }

    & .semantic-column-body {
      margin: 0px 15px 0px 10px;
      padding: 0px 15px 0px 10px;
    }

    & .dl-horizontal {
      margin-bottom: 0px;
    }

  }

}