<div class="row-fluid">
    <div class="col-lg-12">
        <p class="text-ellipsis"><strong>{{DisplayQuantity}} {{Unit}}</strong> {{Name}} {{#if PreparationNotes}} <small>({{PreparationNotes}})</small>{{/if}}</p>
    </div>
</div>