<div id="instruction_{{index}}" class="row">
    <div class="col-lg-1 col-xs-1 list-number">
        <p>{{index}}.</p>
    </div>
    <div class="col-lg-11 col-xs-11">
        <p id="instruction-text">{{summary}}</p>
    </div>
</div>