<div id="summary_instruction_{{index}}" class="row instruction semantic-summary-instruction" data-index="{{index}}">
    <a id="summary-instruction-link">
        <div class="col-xs-12 semantic-summary-column">
            <div class="semantic-summary">{{index}}. {{summary}}</div>
        </div>
    </a>
</div>