<div id="summary_instruction_{{index}}" class="row instruction semantic-summary-instruction" data-index="{{index}}">
    <a id="summary-instruction-link">
        <div class="col-lg-1 col-xs-1 list-number">
            <p class="semantic-summary">{{index}}.</p>
        </div>
        <div class="col-lg-11 col-xs-11">
            <p class="semantic-summary">{{summary}}</p>
        </div>
    </a>
</div>