<a id="summary-instruction-link">
    <div id="summary_instruction_{{index}}" class="row instruction semantic-summary-instruction" data-index="{{index}}">
        <div class="col-xs-12 semantic-summary-column">
            <div class="semantic-summary"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span><span id="step-num">{{index}}.</span> {{summary}}</div>
        </div>
    </div>
</a>
