<div id="stages-column" class="col-lg-3 column">
    <div id="stages-container">
    </div>
</div>
    
    <div id="instructions-column" class="col-lg-5 column shadow center">
        <h2 class="title">{{Title}}</h2>
        <p class="stat">{{TotalMinutes}} Min &middot; {{YieldNumber}} {{YieldUnit}}</p>
        <p id="tools-container" class="tools-simple"></p>

        <div id="prev" class="nav-button"><i class="fa fa-angle-up"></i></div>
        <div id="current-container">
            <div id="instruction-title" class="panel-heading">Current Step</div>
            <div class="panel-body">
                <div id="instruction-container" "sbs-panel-body-vertical invisible">
                </div>
            </div>
        </div>
        <button id="done" type="button" class="btn btn-lg hidden">Done</button>
        <div id="next" class="nav-button"><i class="fa fa-angle-down"></i></div>
    </div>

    <div id="right" class="col-lg-3">
        <div class="panel shadow">
            <div class="panel-heading">Ingredients</div>
            <div id="ingredients-container" class="panel-body">

            </div>
        </div>
    </div>