<div id="survey" class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="text-center">
            <h1>Survey</h1>
            Did you find this interface easier to use than
            past interfaces (including cook books) you've used to
            learn new recipes?
            <div class="row">
                <div class="col-xs-6 col-lg-6 addPadding">
                    <input type="RADIO" name="easier" value="Yes"> Yes
                </div>
                <div class="col-xs-6 col-lg-6 addPadding">
                    <input type="RADIO" name="easier" value="No"> No
                </div>
            </div>
        </div>
        <div class="text-right">
            <p><a id="next" class="btn btn-lg" href="javascript:" role="button">Continue</a></p>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>