<div id="survey" class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="text-center">
            <h1>Interface Preference</h1>
            Which interface do you prefer?
                <div class="row">
                    <div class="col-xs-6 col-lg-6 addPadding">
                        <input type="RADIO" name="preference" value="Control"> Control
                    </div>
                    <div class="col-xs-6 col-lg-6 addPadding">
                        <input type="RADIO" name="preference" value="MagView"> MagView
                    </div>
                </div>
        </div>
        <div class="text-right">
            <button id="next" type="button" class="btn btn-default" disabled>Submit</button>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>