/* variables */
/* mixins */
/*  scaffolding */
html,
body,
#main-container {
  height: 100%;
  background-color: #fafafa;
}
body {
  padding-top: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6em;
}
#main-container {
  padding: 30px 15px;
}
#instruction-container {
  padding: 20px 0 15px 0;
}
strong {
  color: #000000;
}
.highlight-text {
  font-weight: bold;
}
.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  margin: 0 auto;
}
.panel {
  border: 0px;
}
.label {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 5px 0 0;
  color: #000000;
}
.panel-body {
  padding-top: 20px;
}
.panel-heading,
.btn {
  position: relative;
  z-index: 100;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
  outline: none !important;
  background-color: #ffffff;
}
.panel-heading {
  -webkit-box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
}
.btn {
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  color: #00cb8b;
}
/*  general styles */
a {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 100ms ease-out;
  -moz-transition: color 100ms ease-out;
  -o-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
}
a:hover {
  color: #00cb8b;
}
a.inactive {
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.responsive-text {
  display: none;
}
.responsive-selected {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border-left: 10px solid #00cb8b;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  margin-bottom: 15px;
  position: relative;
  z-index: 99;
}
.responsive-selected .list-number {
  margin-left: 0;
  font-weight: 700;
}
.responsive-selected .responsive-summary {
  font-weight: 700;
}
.responsive-selected .responsive-text {
  display: block;
}
.responsive-selected:last-child {
  margin-bottom: 15px;
}
.title {
  font-family: raleway, sans-serif;
  font-weight: 700;
  color: #000000;
}
.list-number {
  margin-left: 10px;
  margin-right: -20px;
}
.description {
  font-family: open sans, sans-serif;
  font-weight: 300;
  color: #999;
  padding: 10px 0 7px;
}
.stats {
  color: #000000;
  font-weight: 700;
}
.shadow {
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.text-ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}
/* intro page */
.header-image {
  padding: 20px 0 30px 0;
}
#panel-start {
  padding: 20px 40px;
}
/* this makes the panel body take up full vertical space */
.sbs-panel-body-vertical {
  height: calc(100% - 110px);
}
/* sbs */
#sbs-nav {
  font-family: lato, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 8px 0 5px 0;
  margin: 0;
  -webkit-box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
}
.sbs-instruction-text {
  padding: 15px 20px;
  font-size: 20px;
}
.vertical-center-content {
  position: absolute;
  top: 50%;
}
.addPadding {
  padding: 10px;
}
/*

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}

.horizontal-center-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: -10px;
}


#layoutColumn {
    float: left;
}

#layoutImg {
}

#infoColumn {
    padding: 10px;
}
*/
.unselectable {
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none;
}
