/* variables */
/* mixins */
/*  scaffolding */
html,
body,
#main-container {
  height: 100%;
  background-color: #fafafa;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}
#main-container {
  padding: 0px 0px;
}
.highlight-text {
  font-weight: 700;
  letter-spacing: 0;
  color: #000000;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}
.ingredient {
  color: #999999;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  margin: 0 auto;
}
.panel {
  border: 0px;
}
.label {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  padding: 0 5px 0 0;
  color: #000000;
}
.panel-body {
  padding-top: 20px;
}
.panel-heading,
.btn {
  position: relative;
  z-index: 100;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
  outline: none !important;
  background-color: #ffffff;
}
.panel-heading {
  -webkit-box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
}
.btn {
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  outline: none !important;
  background-color: #a0c336;
  position: relative;
  z-index: 100;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  color: #ffffff;
  background-color: #c0e336;
}
.btn-full-width {
  width: 100%;
}
/*  general styles */
a {
  color: #a0c336;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  /* These user-select properties are inheritable, used to prevent text selection */
  /* From IE10 only */
  /* Not valid CSS yet, as of July 2012 */
  /* Prevents dragging of images/divs etc */
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  /* These user-select properties are inheritable, used to prevent text selection */
  /* From IE10 only */
  /* Not valid CSS yet, as of July 2012 */
  /* Prevents dragging of images/divs etc */
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none;
}
a:hover {
  color: #c0e336;
  text-decoration: none;
}
a.inactive {
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.responsive-text {
  display: none;
}
.responsive-selected {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 10px solid #a0c336;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px 0 15px 0;
  margin: 15px 0 30px 0;
  position: relative;
  z-index: 99;
}
.responsive-selected .list-number {
  margin-left: 0;
  font-weight: 700;
  letter-spacing: 0;
}
.responsive-selected .responsive-summary {
  font-weight: 700;
  letter-spacing: 0;
}
.responsive-selected .responsive-text {
  display: block;
}
.responsive-selected:last-child {
  margin-bottom: 15px;
}
.title {
  font-family: "Raleway", sans-serif;
  color: #000000;
}
.list-number {
  margin-left: 10px;
  margin-right: -20px;
}
.description {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #999;
  padding: 10px 0 7px;
}
.stats {
  color: #000000;
  font-weight: 700;
  letter-spacing: 0;
}
.shadow {
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
/* intro page */
.header-image {
  padding: 20px 0 30px 0;
}
#panel-start {
  padding: 20px 40px;
}
/* this makes the panel body take up full vertical space */
.sbs-panel-body-vertical {
  height: calc(100% - 110px);
}
/* sbs */
#sbs-nav {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 8px 0 5px 0;
  margin: 0;
  -webkit-box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
}
.sbs-instruction-text {
  padding: 15px 20px;
  font-size: 20px;
}
.vertical-center-content {
  position: absolute;
  top: 50%;
}
.addPadding {
  padding: 10px;
}
/*

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}

.horizontal-center-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: -10px;
}


#layoutColumn {
    float: left;
}

#layoutImg {
}

#infoColumn {
    padding: 10px;
}
*/
.unselectable {
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none;
}
/*
 * Vars
 */
.unselectable {
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none;
}
/*
 * Container / viewport styles
 */
.top-fade {
  background-image: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  position: relative;
  height: 30px;
  z-index: 10;
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  /* These user-select properties are inheritable, used to prevent text selection */
  /* From IE10 only */
  /* Not valid CSS yet, as of July 2012 */
  /* Prevents dragging of images/divs etc */
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  /* These user-select properties are inheritable, used to prevent text selection */
  /* From IE10 only */
  /* Not valid CSS yet, as of July 2012 */
  /* Prevents dragging of images/divs etc */
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none;
}
.bottom-fade {
  background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  height: 30px;
  width: auto;
  bottom: 0;
  z-index: 10;
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  /* These user-select properties are inheritable, used to prevent text selection */
  /* From IE10 only */
  /* Not valid CSS yet, as of July 2012 */
  /* Prevents dragging of images/divs etc */
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  /* These user-select properties are inheritable, used to prevent text selection */
  /* From IE10 only */
  /* Not valid CSS yet, as of July 2012 */
  /* Prevents dragging of images/divs etc */
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none;
}
#instruction-viewport {
  margin: 0px 0 0px 0;
  padding: 0px 5px 0px 5px;
  position: relative;
  overflow: hidden;
  height: 200px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0px 0;
}
#pre-instruction-viewport {
  margin: 0px 0 0px 0;
  padding: 0px 5px 0px 5px;
  position: relative;
  overflow: hidden;
  height: 200px;
  padding-left: 20px;
  transform: translateX(-15px);
  /* Firefox */
  -ms-transform: translateX(-15px);
  /* IE 9 */
  -webkit-transform: translateX(-15px);
  /* Chrome, Safari, Opera */
}
#post-instruction-viewport {
  margin: 0px 0 0px 0;
  padding: 0px 5px 0px 5px;
  position: relative;
  overflow: hidden;
  height: 200px;
  padding-left: 20px;
  transform: translateX(-15px);
  /* Firefox */
  -ms-transform: translateX(-15px);
  /* IE 9 */
  -webkit-transform: translateX(-15px);
  /* Chrome, Safari, Opera */
}
#instruction-container {
  position: relative;
}
#pre-instruction-container {
  position: relative;
}
#post-instruction-container {
  position: relative;
}
#left {
  height: 100%;
  padding-right: 0;
}
#mid {
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#right {
  padding-left: 20px;
  height: 100%;
}
#ingredients-container {
  padding-top: 30px;
}
#ingredients-container h4 {
  padding: 0 5px 0 0;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  color: #000000;
  margin-top: 0;
}
#tools-container {
  padding-top: 30px;
}
#tools-container h4 {
  padding: 0 5px 0 0;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  color: #000000;
  margin-top: 0;
}
#semantic-container {
  height: 100%;
}
.semantic-column-title {
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 15px;
  -webkit-box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
}
.semantic-column-title-instructions {
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 15px;
  -webkit-box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2);
}
#main-container {
  position: relative;
}
.semantic-view-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}
/*
 * Transition variables / functions
 */
/*
//not sure how to get this to work.
.transition-macro(@styles-times, @ease-func: ease-in-out) {
  -webkit-transition: @styles-times @ease-func;
  -moz-transition: @styles-times @ease-func;
  -o-transition: @styles-times @ease-func;
  transition: @styles-times @ease-func;
}
*/
/*
 * Media query functions
 */
/*
 * Ingredient
 */
.semantic-ingredient-item-column {
  padding: 0;
}
.semantic-tool {
  color: #333333;
  font-weight: 400;
  margin-bottom: 0px;
  font-size: 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
@media (min-width: 992px) {
  .semantic-tool {
    color: #333333;
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 12px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}
.semantic-ingredient {
  margin-bottom: 0px;
  font-size: 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
@media (min-width: 992px) {
  .semantic-ingredient {
    margin-bottom: 2px;
    font-size: 12px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}
.mute-ingredient {
  color: #666666;
  font-weight: 400;
  -webkit-transition: color 100ms ease-out;
  -moz-transition: color 100ms ease-out;
  -o-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
}
.highlight-ingredient {
  color: #000000;
  font-weight: 700;
  -webkit-transition: color 100ms ease-out;
  -moz-transition: color 100ms ease-out;
  -o-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
}
/*
 * Instruction Summary
 */
#summaryImage {
  width: calc(630px/6);
  height: calc(419px/6);
}
#summaryBody {
  padding-left: 10px;
}
#summaryText {
  position: relative;
  margin-top: 1px;
  max-width: 300px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#summary-instruction-link {
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  /* These user-select properties are inheritable, used to prevent text selection */
  /* From IE10 only */
  /* Not valid CSS yet, as of July 2012 */
  /* Prevents dragging of images/divs etc */
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  /* These user-select properties are inheritable, used to prevent text selection */
  /* From IE10 only */
  /* Not valid CSS yet, as of July 2012 */
  /* Prevents dragging of images/divs etc */
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none;
  cursor: pointer;
  color: #999999;
  font-weight: 400;
  -webkit-transition: color 100ms ease-out;
  -moz-transition: color 100ms ease-out;
  -o-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
  /*
  & #summary-select-indicator {
    margin-right: -12px;
    position: relative;
    color: @color-background;
    .transformX(-38px);
    .select-indicator-transition(300ms, ease-in);
  }
  */
}
#summary-instruction-link #summaryImage {
  -webkit-filter: grayscale(100%) brightness(1.5);
  -moz-filter: grayscale(100%) brightness(1.5);
  filter: grayscale(100%) brightness(1.5);
  -webkit-transition: filter 100ms, -ms-filter 100ms, -webkit-filter 100ms ease-out;
  -moz-transition: filter 100ms, -ms-filter 100ms, -webkit-filter 100ms ease-out;
  -o-transition: filter 100ms, -ms-filter 100ms, -webkit-filter 100ms ease-out;
  transition: filter 100ms, -ms-filter 100ms, -webkit-filter 100ms ease-out;
}
#summary-instruction-link:hover {
  color: #000000;
  -webkit-transition: color 100ms ease-out;
  -moz-transition: color 100ms ease-out;
  -o-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
  /*
    & #summary-select-indicator {
      color: @dark-main;
      .transformX(-28px);
      .select-indicator-transition(300ms, ease-out);
    }
    */
}
#summary-instruction-link:hover #summaryImage {
  -webkit-filter: grayscale(0%) brightness(1);
  -moz-filter: grayscale(0%) brightness(1);
  filter: grayscale(0%) brightness(1);
  -webkit-transition: filter 100ms, -ms-filter 100ms, -webkit-filter 100ms ease-in;
  -moz-transition: filter 100ms, -ms-filter 100ms, -webkit-filter 100ms ease-in;
  -o-transition: filter 100ms, -ms-filter 100ms, -webkit-filter 100ms ease-in;
  transition: filter 100ms, -ms-filter 100ms, -webkit-filter 100ms ease-in;
}
.semantic-summary-instruction {
  font-size: 10px;
  margin: 0px 0 0px 0;
  padding: 5px 0 5px 6px;
}
@media (min-width: 992px) {
  .semantic-summary-instruction {
    font-size: 12px;
    margin: 0px 0 0px 0;
    padding: 10px 0 10px 0px;
  }
}
/*
 * Instruction Detail
 */
#instructionImage {
  width: calc(630px/2);
  height: calc(419px/2);
}
.semantic-detail-instruction {
  font-size: 12px;
  color: #000000;
  margin: 0px 0 0px -4px;
  padding: 10px 0 10px 1px;
  position: relative;
  z-index: 9;
}
.semantic-detail-instruction .semantic-column-body {
  margin: 0px 15px 0px 5px;
  padding: 0px 15px 0px 10px;
}
.semantic-detail-instruction h3 {
  display: inline;
}
.semantic-detail-instruction #detail-text {
  padding-left: 30px;
  margin-bottom: 0px;
}
@media (min-width: 992px) {
  .semantic-detail-instruction {
    font-size: 16px;
    padding: 60px 0 60px 0;
    margin: 0px 0 0px 0;
    position: relative;
    z-index: 9;
  }
  .semantic-detail-instruction h3 {
    display: inline;
  }
  .semantic-detail-instruction #detail-text {
    padding-left: 30px;
    margin-bottom: 0px;
  }
  .semantic-detail-instruction .semantic-column-body {
    margin: 0px 15px 0px 10px;
    padding: 0px 15px 0px 10px;
  }
}
/*
 * Instruction Header
 */
.stat {
  font-style: italic;
}
#instructions-header {
  text-align: center;
  background-color: #fafafa;
  position: relative;
  top: 0;
  padding: 30px 15px 15px 15px;
  margin-left: -15px;
  margin-right: -15px;
  z-index: 11;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#instructions-header h1 {
  margin-top: 0;
}
/*
 * Stages
 */
#stages-column {
  padding-right: 0;
  padding-left: 100px;
}
#stages-container {
  position: relative;
  top: 160px;
  text-align: right;
}
.stage {
  padding: 10px 20px;
}
.stage .stage-details {
  font-size: 1.2em;
}
.stage .stage-name {
  line-height: 1.2em;
  letter-spacing: 0.6px;
  text-transform: lowercase;
  font-family: raleway, sans-serif;
  font-size: 1.5em;
  padding-bottom: 5px;
}
.stage.active {
  font-weight: 700 !important;
}
.stage:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.stage:not(.active) {
  letter-spacing: 1px;
}
